/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #2a3d66;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Menu de navegação */
nav {
    margin-top: 10px;
}

#menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

#menu li {
    margin: 0 15px;
}

#menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: #4db8ff;
}

/* Menu Hambúrguer */
.hamburguer-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    .hamburguer-icon {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #menu.show {
        display: flex;
    }

    #menu li {
        margin: 10px 0;
    }
}

/* Estilo das seções */
section {
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2a3d66;
}

section p {
    font-size: 1rem;
    color: #555;
}

/* SlideShow */
#slide-show-container {
    text-align: center;
    margin-top: 20px;
}

#slide-show {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2a3d66;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo dos botões */
button {
    background-color: #4db8ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1f80b6;
}



/* Estilo para o Quiz */
#quiz {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#quiz h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #2a3d66;
}

#quiz h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#quiz form {
    margin-bottom: 20px;
}

#quiz label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

button {
    background-color: #4db8ff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #1f80b6;
}

#resultado {
    font-size: 1.2rem;
    color: #2a3d66;
    margin-top: 15px;
}
